
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Rubik:wght@500&display=swap');


.navbar {
  background-color: #a8dadc;
  font-family: rubik;
  font-size: 1.5em;
  /* color: #e63946; */
}

#logo {
  font-size: 1.2em;
  /* color: #e63946; */
  color: black;
}

.navbar-brand:hover {
  text-shadow: 0 0 1px #000000;
}

.right-side-buttons {
  /* color: #e63946; */
}

.register-button:hover {
  text-shadow: 0 0 1px #000000;
}
.login-button:hover {
  text-shadow: 0 0 1px #000000;
}

.resource-list-item {
  height: 300px; 
  font-family: Lato; 
  text-align: left;
}

.list-item-title {
  text-decoration: none;
  /* color: #a8dadc; */
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
